<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.AndroidLabs">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/custom"
        android:roundIcon="@mipmap/custom"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name=".MainActivity"/> -->
        <activity android:name=".WeatherForecast" />
        <activity android:name=".ChatRoomActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".EmptyActivity" />
        <activity android:name=".TestToolbar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name=".MAIN" />
                <category android:name=".LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>